html {
  scroll-behavior: smooth;
}
/* Remove the default arrows from number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
  --font-heading: "Playfair Display", serif;

  /* The Navy from your logo text */
  --color-primary: #1a2e35; 
  /* The Orange from the sun icon */
  --color-secondary: #e65100; 
  
  --color-neutralbg: #fafafa;
  --color-text: #333333;
}

